{% extends "registration/register_base.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<div class="login form">

  <header>Set a new password!</header>
  <form method="POST">
    {% csrf_token %}


    {% if form.errors %}
    <div class="col-12 register-field">
      <div class="alert alert-danger">
        <p style="color: red;">
          The two password fields didn't match.
        </p>
      </div>
    </div>
    {% endif %}
    <label for="id_new_password1">New password:</label>
  
  
    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"
      aria-autocomplete="list">
  
    <br>
    <label for="id_new_password2">New password confirmation:</label>
  
  
    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
  
    <input type="submit" class="button" value="Change my password">
  </form>

  {% else %}
  <div class="login form">


    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
      reset.</p>


  </div>
  {% endif %}

</div>

{% endblock content %}


